body {
    background: $pink;
}

.wrapper {
    width:80%;
    display:flex;
    margin:0 auto;
    flex-wrap:wrap;
    max-width:1450px;
    /* RESPONSIVE DESIGN */
    /* This ensures that content will be contained within 1450px. */
}

img {
    display:block;
    max-width:100%;
    /* RESPONSIVE DESIGN */
    /* This ensures that images are never larger than their parent elements. */
}

ul, ol {
    list-style:none;
    margin:0;
    padding:0;
}