button {
    padding:10px 0px;
    border:none;
}

.intro a, .season-additions a, .monthly-shoe a {
    color:$white;
    display:inline-block;
}

.intro a {
    width:200px;
    margin:20px 0px;
}

.season-additions a {
    width:160px;
    margin:20px 0px;
}

.monthly-shoe a {
    width:200px;
    margin:20px 0px;
}

.purple-btn {
    background: $purple;
    border:1px solid $purple;
    transition: all.5s;
    &:hover {
        color:$purple;
        border:1px solid $purple;
        background:$white;
    }
}

.brown-btn {
    background: $brown;
    border:1px solid $brown;
    transition: all .5s;
    &:hover {
        color:$brown;
        border:1px solid $brown;
        background:$white;
    }
}