form {
    display:flex;
    flex-direction:column;
}

// INPUT AND TEXTAREAS ----------------------------------------
input, textarea {
    background:none;
    border:none;
}

input, input::placeholder,
textarea, textarea::placeholder {
    font-size:2rem;
    letter-spacing:1px;
}

input::placeholder, textarea::placeholder {
    line-height:3.2rem;
    color:$black;
}

input[name=name], input[name=email] {
    padding:10px 15px;
    width:calc(50% - 15px);
    border-bottom:1px solid $orange;
    margin-top:30px;
}

input[name=name] {
    margin-right:30px;
}

textarea {
    width:100%;
    border: 1px solid $orange;
    margin:30px 0px;
    padding:10px 15px 200px 15px;
    resize:none;
}

.personal-information {
    display:flex;
    justify-content:space-between;
}


// BLOG FORM ----------------------------------------
.blog-form {
    grid-column-start:1;
    grid-column-end:2;
}

// CONTACT FORM ----------------------------------------
.contact-form {
    background:$white;
    box-shadow:-30px 30px $orange;
    padding:30px 60px;
    width:70%;
    position:absolute;
    top:-200px;
    right:-100px;
}