// HAMBURGER MENU ---------------------------------------------
input[type="checkbox"],
label[for="hamburger"],
ul.hamburger {
    display:none;
    /* APPEAR LATER @media (max-width:1090px) */
}


// HAMBURGER ICON ---------------------------------------------
/* GOT HELP FROM A TUTORIAL */
/* https://w3bits.com/animated-menu-icon-css/ */
.hamburger-icon {
    width: 40px;
}

.hamburger-icon:after, 
.hamburger-icon:before {
    content: '';
    display: block;
    /* BREAK ONTO A NEW LINE AND ACCEPT DIMENSIONS */
}

.hamburger-icon:after, 
.hamburger-icon:before, 
.hamburger-icon div {
    background-color: $white;
    border-radius: 3px;
    height: 5px;
    margin: 7px 0;
    transition: all .5s ease-in-out;
}

.hamburger-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
}

.hamburger-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}

.hamburger-icon:hover div {
    transform: scale(0);
    /* MAKES THE DIV DISAPPEAR */
}