// HEADER 
.home-header {
    height:100vh;
    background-image: url(../assets/header-image.jpg);
    .header-top {
        padding-bottom:200px;
    }
}

// INTRO
.intro {
    padding:200px 0px;
    img {
        position:absolute;
        top:200px;
        right:0px;
        width:45vw;
    }
    .wrapper {
        flex-direction:column;
        text-align:center;
        button {
            width:200px;
            margin:20px auto;
        }
    }
}

// SEASON ADDITIONS
.season-additions {
    padding-top:30px;
    display:flex;
    flex-wrap:wrap;
    background: $white;
    position:relative;
    height:1000px;
    figure:nth-of-type(1) {
        margin-right:100px;
        width:calc(50% - 100px);
        position:absolute;
        top:-60px;
        img {
            box-shadow: 30px 30px $orange;
            width:100%;
            // display:none;
        }
    }
    figure:nth-of-type(2) {
        order:1;
        margin-left:100px;
        width:calc(50% - 100px);
        position:absolute;
        bottom:-30px;
        right:0;
        img {
            box-shadow: -30px 30px $orange;
            width:100%;
            // display:none;
        }
    }
    .wrapper {
        width:100%;
        div.empty {
            content:'';
            display:block;
            height:0px;
        }
        div {
            width: 50%;
        }
        div.right-content {
            padding:5% 0 0 100px;
        }
        div.left-content {
            text-align:right;
            padding:5% 100px 0 0;
        }
    }
    h4 {
        margin-top:20px;
    }
    button {
        width:160px;
        margin:20px 0px;
    }
}


// BRAND INFO
.brand-info {
    padding:150px 0px 50px 0px;
    ul {
        display:flex;
        flex-wrap:wrap;
        li {
            width:50%;
            display:flex;
            flex-wrap:wrap;
            .icon {
                width:15%;
                i {
                    background:$purple;
                    padding:15px;
                    border-radius:100%;
                }
            }
            .content {
                width:calc(85% - 50px);
                padding-bottom:50px;
                &:nth-of-type(1),
                &:nth-of-type(3) {
                    padding-right:50px;
                }
            }
        }
    }
}


// BANNER
.banner img {
    width:100%;
}

// POPULAR
.popular {
    padding:150px 0px 100px 0px;
    background:$white;
    figure {
        width:30%;
        position:relative;
        top:-30px;
        img {
            box-shadow: 30px 30px $orange;
        }
    }
    .content {
        width:70%;
        button {
            width:200px;
            margin:20px 0px;
        }
    }
}


// GALLERY STYLES
.gallery {
    padding: 50px 0px;
    .wrapper {
        justify-content:center;
        ul {
            display:flex;
            width:100%;
            justify-content:space-between;
        }
    }
}