header {
    background-size: cover;
    background-position: center;
    .wrapper {
        flex-direction: column;
        padding-top:20px;
    }
}

.header-top {
    display:flex;
    justify-content:space-between;
    li {
        margin-left:30px;
        display:inline-block;
    }
}

// HOME HEADER -------------------------------------
header.home {
    .header-top {
        padding-bottom:200px;
    }
}

// BLOG HEADER -------------------------------------
header.blog {
    height:60vh;
    background-image: url(../assets/blog-header.jpg);
    .header-top {
        padding-bottom:100px;
    }
    h2 {
        text-align:center;
    }
}


// CONTACT PAGE HEADER -------------------------------------
header.contact {
    height:60vh;
    background-image: url(../assets/contact-image.jpg);
    background-size: cover;
    background-position: left;
    .header-top {
        padding-bottom:140px;
    }
    h2 {
        text-align:center;
    }
}