$purple: rgb(76, 3, 65);
$orange: rgb(254, 111, 25);
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$brown: rgb(136,44,7);
$pink: rgb(250,229,255);

$headings: 'Pompiere', cursive;
$base: 'Lato', sans-serif;


@import 'snippet-setup';
@import 'base-typography';
@import 'element-spans';
@import 'element-button';
@import 'effects-animations';
@import 'effects-hover';
@import 'base-other';
@import 'section-header';
@import 'element-hamburger';
@import 'element-form';
@import 'section-footer';
@import 'page-home';
@import 'page-blog';
@import 'page-contact';
@import 'media-queries'; 
