article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  color: black;
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Pompiere", cursive;
  color: #4c0341;
  margin: 0;
}

h3, h4, h5, button {
  text-transform: uppercase;
}

p.logo {
  font-size: 3.58rem;
  line-height: 3.6rem;
  letter-spacing: 1.1px;
  font-family: "Pompiere", cursive;
  color: black;
}

h1 {
  font-size: 11rem;
  line-height: 6.4rem;
}

h2 {
  font-size: 8rem;
  line-height: 9.2rem;
}

h3 {
  font-size: 5.2rem;
  letter-spacing: 1.2px;
}

h4 {
  font-size: 4.2rem;
  letter-spacing: 1.3px;
}

h5 {
  font-size: 3rem;
  letter-spacing: 1.3px;
}

a, p, button, input::-webkit-input-placeholder, input, textarea::-webkit-input-placeholder, textarea {
  font-size: 2rem;
  letter-spacing: 1px;
}

a, p, button, input:-ms-input-placeholder, input, textarea:-ms-input-placeholder, textarea {
  font-size: 2rem;
  letter-spacing: 1px;
}

a, p, button, input::-ms-input-placeholder, input, textarea::-ms-input-placeholder, textarea {
  font-size: 2rem;
  letter-spacing: 1px;
}

a, p, button, input::placeholder, input, textarea::placeholder, textarea {
  font-size: 2rem;
  letter-spacing: 1px;
}

a {
  line-height: 2.9rem;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  text-transform: uppercase;
}

p, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  line-height: 3.2rem;
  color: black;
}

p, input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  line-height: 3.2rem;
  color: black;
}

p, input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  line-height: 3.2rem;
  color: black;
}

p, input::placeholder, textarea::placeholder {
  line-height: 3.2rem;
  color: black;
}

.brand-info i, button {
  color: white;
}

.contact-info i {
  color: #4c0341;
}

i {
  font-size: 2.9rem;
}

.new-line {
  display: block;
}

.black {
  color: black;
}

.date {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

button {
  padding: 10px 0px;
  border: none;
}

.purple-btn {
  background: #4c0341;
  border: 1px solid #4c0341;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.purple-btn:hover {
  color: #4c0341;
  border: 1px solid #4c0341;
  background: white;
}

.brown-btn {
  background: #882c07;
  border: 1px solid #882c07;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.brown-btn:hover {
  color: #882c07;
  border: 1px solid #882c07;
  background: white;
}

header a {
  position: relative;
  z-index: 1;
}

header a::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  top: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header a:hover {
  color: white;
}

header a:hover::after {
  background: #4c0341;
  height: 100%;
  top: 0;
  z-index: -1;
}

body {
  background: #fae5ff;
}

.wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1450px;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  /* RESPONSIVE DESIGN */
  /* This ensures that images are never larger than their parent elements. */
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-size: cover;
  background-position: center;
}

header .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

header .wrapper .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .wrapper .header-top li {
  margin-left: 30px;
  display: inline-block;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input, textarea {
  background: none;
  border: none;
}

input[name=name], input[name=email] {
  padding: 10px 15px;
  width: calc(50% - 15px);
  border-bottom: 1px solid #fe6f19;
  margin-top: 30px;
}

input[name=name] {
  margin-right: 30px;
}

textarea {
  width: 100%;
  border: 1px solid #fe6f19;
  margin: 30px 0px;
  padding: 10px 15px 200px 15px;
  resize: none;
}

button {
  margin-bottom: 30px;
}

.personal-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form.comment {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

form.submit {
  background: white;
  -webkit-box-shadow: -30px 30px #fe6f19;
          box-shadow: -30px 30px #fe6f19;
  padding: 30px 60px;
}

footer {
  background: #882c07;
}

footer p {
  color: white;
  text-align: center;
  padding: 10px;
}

.home-header {
  height: 100vh;
  background-image: url(../assets/header-image.jpg);
}

.home-header .header-top {
  padding-bottom: 200px;
}

.intro {
  padding: 200px 0px;
}

.intro img {
  position: absolute;
  top: 200px;
  right: 0px;
  width: 45vw;
}

.intro .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.intro .wrapper button {
  width: 200px;
  margin: 20px auto;
}

.season-additions {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: white;
  position: relative;
  height: 1000px;
}

.season-additions figure:nth-of-type(1) {
  margin-right: 100px;
  width: calc(50% - 100px);
  position: absolute;
  top: -60px;
}

.season-additions figure:nth-of-type(1) img {
  -webkit-box-shadow: 30px 30px #fe6f19;
          box-shadow: 30px 30px #fe6f19;
  width: 100%;
}

.season-additions figure:nth-of-type(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 100px;
  width: calc(50% - 100px);
  position: absolute;
  bottom: -30px;
  right: 0;
}

.season-additions figure:nth-of-type(2) img {
  -webkit-box-shadow: -30px 30px #fe6f19;
          box-shadow: -30px 30px #fe6f19;
  width: 100%;
}

.season-additions .wrapper {
  width: 100%;
}

.season-additions .wrapper div.empty {
  content: '';
  display: block;
  height: 0px;
}

.season-additions .wrapper div {
  width: 50%;
}

.season-additions .wrapper div.right-content {
  padding: 5% 0 0 100px;
}

.season-additions .wrapper div.left-content {
  text-align: right;
  padding: 5% 100px 0 0;
}

.season-additions h4 {
  margin-top: 20px;
}

.season-additions button {
  width: 160px;
  margin: 20px 0px;
}

.brand-info {
  padding: 150px 0px 50px 0px;
}

.brand-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand-info ul li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand-info ul li .icon {
  width: 15%;
}

.brand-info ul li .icon i {
  background: #4c0341;
  padding: 15px;
  border-radius: 100%;
}

.brand-info ul li .content {
  width: calc(85% - 50px);
  padding-bottom: 50px;
}

.brand-info ul li .content:nth-of-type(1), .brand-info ul li .content:nth-of-type(3) {
  padding-right: 50px;
}

.banner img {
  width: 100%;
}

.popular {
  padding: 150px 0px 100px 0px;
  background: white;
}

.popular figure {
  width: 30%;
  position: relative;
  top: -30px;
}

.popular figure img {
  -webkit-box-shadow: 30px 30px #fe6f19;
          box-shadow: 30px 30px #fe6f19;
}

.popular .content {
  width: 70%;
}

.popular .content button {
  width: 200px;
  margin: 20px 0px;
}

.gallery {
  padding: 50px 0px;
}

.gallery .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-header {
  height: 80vh;
  background-image: url(../assets/blog-header.jpg);
}

.blog-header .header-top {
  padding-bottom: 240px;
}

.blog-header h2 {
  text-align: center;
}

.blog-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 25% 5% 55% 5%;
      grid-template-columns: 10% 25% 5% 55% 5%;
  margin-top: 60px;
  position: relative;
}

.blog-page aside, .blog-page .featured-post {
  background: white;
}

.blog-page .aside-image {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 60px;
}

.blog-page .aside-image img {
  width: 95%;
}

.blog-page aside {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 90px;
  position: absolute;
  z-index: -1;
}

.blog-page aside .aside-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 560px 30px 30px 30px;
}

.blog-page aside .aside-wrapper .recent-posts {
  padding-top: 60px;
}

.blog-page aside .aside-wrapper .recent-posts ul {
  list-style: disc;
  list-style-position: inside;
}

.blog-page aside .aside-wrapper .recent-posts ul p {
  display: inline-block;
}

.blog-page main {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: -1;
}

.blog-page main .main-image {
  position: absolute;
  top: -300px;
  -ms-grid-column: 4;
      grid-column-start: 4;
  width: calc(100% - 30px);
  -webkit-box-shadow: -30px 30px #fe6f19;
          box-shadow: -30px 30px #fe6f19;
  margin-left: 30px;
}

.blog-page main .main-image img {
  width: 100%;
}

.blog-page main .featured-post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
  margin-bottom: 60px;
}

.blog-page main .featured-post .featured-post-content {
  padding: 530px 0px 60px 60px;
}

.blog-page main .featured-post .featured-post-content p {
  padding: 15px 0px;
}

.blog-page main .featured-post .featured-post-content h3 + p {
  padding: 0px 0px 30px 0px;
}

.blog-page main .comments {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
  margin-bottom: 60px;
}

.blog-page main .comments h3 {
  padding-bottom: 30px;
}

.blog-page main .comments .comment-container {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.blog-page main .comments .comment-container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-page main .comments .comment-container article figure {
  width: 100px;
  height: 100px;
}

.blog-page main .comments .comment-container article figure img {
  width: 100%;
  height: 100%;
}

.blog-page main .comments .comment-container article .comment {
  width: 90%;
  padding: 0px 0px 60px 30px;
}

.contact-header {
  height: 60vh;
  background-image: url(../assets/contact-image.jpg);
}

.contact-header .header-top {
  padding-bottom: 140px;
}

.contact-header h2 {
  text-align: center;
}

.contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
  position: relative;
}

.contact-page .contact-info {
  width: 30%;
}

.contact-page .contact-info a.email {
  color: #4c0341;
  font-family: "Pompiere", cursive;
  font-size: 3rem;
}

.contact-page .contact-info a {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.contact-page .contact-info a:hover {
  color: #fe6f19;
  padding-left: 50px;
}

.contact-page .contact-info p {
  padding-left: 10px;
}

.contact-page .contact-info .social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px;
  padding-bottom: 20px;
}

.contact-page .contact-info .social-media ul a:hover {
  padding-left: 10px;
}

.contact-page .contact-info .social-media ul a:hover i {
  -webkit-transition: color 1s, -webkit-transform .5s;
  transition: color 1s, -webkit-transform .5s;
  transition: transform .5s, color 1s;
  transition: transform .5s, color 1s, -webkit-transform .5s;
}

.contact-page .contact-info .social-media ul a:hover i:hover {
  color: #fe6f19;
  -webkit-transform: rotateZ(40deg);
          transform: rotateZ(40deg);
}

.contact-page .form {
  width: 70%;
  position: absolute;
  top: -200px;
  right: -100px;
}
