article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  color: black;
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Pompiere", cursive;
  color: #4c0341;
  margin: 0;
}

h3, h4, h5 {
  text-transform: uppercase;
}

h1 {
  font-size: 11rem;
  line-height: 6.4rem;
}

h2 {
  font-size: 8rem;
  line-height: 9.2rem;
}

h3 {
  font-size: 5.2rem;
  letter-spacing: 1.2px;
}

h4 {
  font-size: 4.2rem;
  letter-spacing: 1.3px;
}

h5 {
  font-size: 3rem;
  letter-spacing: 1.3px;
}

p.logo {
  font-size: 3.58rem;
  line-height: 3.6rem;
  letter-spacing: 1.1px;
  font-family: "Pompiere", cursive;
  color: black;
}

a, p {
  font-size: 2rem;
  letter-spacing: 1px;
}

a {
  line-height: 2.9rem;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  text-transform: uppercase;
}

p {
  line-height: 3.2rem;
  color: black;
  margin: 0;
}

.brand-info i, button {
  color: white;
}

.contact-info i {
  color: #4c0341;
}

i {
  font-size: 2.9rem;
}

.new-line {
  display: block;
}

.black {
  color: black;
}

.date {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

button {
  padding: 10px 0px;
  border: none;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.purple-btn {
  background: #4c0341;
  border: 1px solid #4c0341;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.brown-btn {
  background: #882c07;
  border: 1px solid #882c07;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.intro a,
.season-additions a,
.monthly-shoe a {
  color: white;
  display: inline-block;
}

.intro a {
  width: 200px;
  margin: 20px 0px;
}

.season-additions a {
  width: 160px;
  margin: 20px 0px;
}

.monthly-shoe a {
  width: 200px;
  margin: 20px 0px;
}

header a {
  position: relative;
  z-index: 1;
}

header a::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  top: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header a:hover {
  color: white;
}

header a:hover::after {
  background: #4c0341;
  height: 100%;
  top: 0;
  z-index: -1;
}

.purple-btn:hover {
  color: #4c0341;
  border: 1px solid #4c0341;
  background: white;
}

.brown-btn:hover {
  color: #882c07;
  border: 1px solid #882c07;
  background: white;
}

a.email, a.phone {
  -webkit-transition: all .5s;
  transition: all .5s;
}

a.email:hover, a.phone:hover {
  color: #fe6f19;
  padding-left: 50px;
}

.social-media i {
  -webkit-transition: color 1s, -webkit-transform .5s;
  transition: color 1s, -webkit-transform .5s;
  transition: transform .5s, color 1s;
  transition: transform .5s, color 1s, -webkit-transform .5s;
}

.social-media i:hover {
  color: #fe6f19;
  -webkit-transform: rotateZ(40deg);
          transform: rotateZ(40deg);
}

body {
  background: #fae5ff;
}

.wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1450px;
  /* RESPONSIVE DESIGN */
  /* This ensures that content will be contained within 1450px. */
}

img {
  display: block;
  max-width: 100%;
  /* RESPONSIVE DESIGN */
  /* This ensures that images are never larger than their parent elements. */
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-size: cover;
  background-position: center;
}

header .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top li {
  margin-left: 30px;
  display: inline-block;
}

header.blog {
  height: 60vh;
  background-image: url(../assets/blog-header.jpg);
}

header.blog .header-top {
  padding-bottom: 100px;
}

header.blog h2 {
  text-align: center;
}

header.contact {
  height: 60vh;
  background-image: url(../assets/contact-image.jpg);
  background-size: cover;
  background-position: left;
}

header.contact .header-top {
  padding-bottom: 140px;
}

header.contact h2 {
  text-align: center;
}

input[type="checkbox"],
label[for="hamburger"],
ul.hamburger {
  display: none;
  /* APPEAR LATER @media (max-width:1090px) */
}

/* GOT HELP FROM A TUTORIAL */
/* https://w3bits.com/animated-menu-icon-css/ */
.hamburger-icon {
  width: 40px;
}

.hamburger-icon:after,
.hamburger-icon:before {
  content: '';
  display: block;
  /* BREAK ONTO A NEW LINE AND ACCEPT DIMENSIONS */
}

.hamburger-icon:after,
.hamburger-icon:before,
.hamburger-icon div {
  background-color: white;
  border-radius: 3px;
  height: 5px;
  margin: 7px 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hamburger-icon:hover:before {
  -webkit-transform: translateY(12px) rotate(135deg);
          transform: translateY(12px) rotate(135deg);
}

.hamburger-icon:hover:after {
  -webkit-transform: translateY(-12px) rotate(-135deg);
          transform: translateY(-12px) rotate(-135deg);
}

.hamburger-icon:hover div {
  -webkit-transform: scale(0);
          transform: scale(0);
  /* MAKES THE DIV DISAPPEAR */
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input, textarea {
  background: none;
  border: none;
}

input, input::-webkit-input-placeholder,
textarea, textarea::-webkit-input-placeholder {
  font-size: 2rem;
  letter-spacing: 1px;
}

input, input:-ms-input-placeholder,
textarea, textarea:-ms-input-placeholder {
  font-size: 2rem;
  letter-spacing: 1px;
}

input, input::-ms-input-placeholder,
textarea, textarea::-ms-input-placeholder {
  font-size: 2rem;
  letter-spacing: 1px;
}

input, input::placeholder,
textarea, textarea::placeholder {
  font-size: 2rem;
  letter-spacing: 1px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  line-height: 3.2rem;
  color: black;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  line-height: 3.2rem;
  color: black;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  line-height: 3.2rem;
  color: black;
}

input::placeholder, textarea::placeholder {
  line-height: 3.2rem;
  color: black;
}

input[name=name], input[name=email] {
  padding: 10px 15px;
  width: calc(50% - 15px);
  border-bottom: 1px solid #fe6f19;
  margin-top: 30px;
}

input[name=name] {
  margin-right: 30px;
}

textarea {
  width: 100%;
  border: 1px solid #fe6f19;
  margin: 30px 0px;
  padding: 10px 15px 200px 15px;
  resize: none;
}

.personal-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-form {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.contact-form {
  background: white;
  -webkit-box-shadow: -30px 30px #fe6f19;
          box-shadow: -30px 30px #fe6f19;
  padding: 30px 60px;
  width: 70%;
  position: absolute;
  top: -200px;
  right: -100px;
}

footer {
  background: #882c07;
}

footer p {
  color: white;
  text-align: center;
  padding: 10px;
}

header.home {
  height: 100vh;
  background-image: url(../assets/header-image.jpg);
}

header.home .header-top {
  padding-bottom: 200px;
}

.intro {
  padding: 200px 0px;
  position: relative;
}

.intro .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.intro-image {
  position: absolute;
  top: -80vh;
  right: 0px;
  width: 45vw;
}

.intro-image img {
  width: 100%;
}

.season-additions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  background: white;
  position: relative;
  height: 1000px;
}

.season-additions figure:nth-of-type(1) {
  margin-right: 100px;
  width: calc(50% - 100px);
  position: absolute;
  top: -60px;
}

.season-additions figure:nth-of-type(1) img {
  -webkit-box-shadow: 30px 30px #fe6f19;
          box-shadow: 30px 30px #fe6f19;
  width: 100%;
}

.season-additions figure:nth-of-type(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 100px;
  width: calc(50% - 100px);
  position: absolute;
  bottom: -30px;
  right: 0;
}

.season-additions figure:nth-of-type(2) img {
  -webkit-box-shadow: -30px 30px #fe6f19;
          box-shadow: -30px 30px #fe6f19;
  width: 100%;
}

.season-additions .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.season-additions .wrapper div {
  width: 50%;
}

.season-additions .right-content {
  padding-left: 100px;
  padding-bottom: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.season-additions .left-content {
  text-align: right;
  padding-right: 100px;
  padding-top: 100px;
}

.brand-info {
  padding: 150px 0px 50px 0px;
}

.brand-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand-info li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand-info .icon {
  width: 15%;
}

.brand-info i {
  background: #4c0341;
  padding: 15px;
  border-radius: 100%;
}

.brand-info .content {
  width: 85%;
  padding-bottom: 50px;
}

.brand-info .content:nth-of-type(odd) {
  padding-right: 50px;
}

.banner img {
  width: 100%;
}

.monthly-shoe {
  padding: 150px 0px 100px 0px;
  background: white;
}

.monthly-shoe figure {
  width: 30%;
  position: relative;
  top: -30px;
}

.monthly-shoe img {
  -webkit-box-shadow: 30px 30px #fe6f19;
          box-shadow: 30px 30px #fe6f19;
}

.monthly-shoe .content {
  width: 70%;
}

.gallery {
  padding: 50px 0px;
}

.gallery .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery li {
  width: calc(100% / 3);
}

.gallery li:nth-of-type(2) {
  margin: 0px 30px;
}

.gallery img {
  width: 100%;
}

.blog-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 25% 5% 55% 5%;
      grid-template-columns: 10% 25% 5% 55% 5%;
  margin-top: 60px;
  position: relative;
}

.blog-page aside, .blog-page .featured-post {
  background: white;
}

.blog-page aside {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 90px;
  height: 1000px;
}

.aside-image {
  margin-top: 60px;
  position: absolute;
  width: 30%;
}

.aside-image img {
  width: 100%;
}

.aside-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 490px 60px 30px 30px;
}

.recent-posts {
  padding-top: 60px;
}

.recent-posts ul {
  list-style: disc;
  list-style-position: inside;
}

.recent-posts a {
  text-transform: capitalize;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.recent-posts a:hover {
  color: #fe6f19;
}

.blog-page main {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: -1;
}

.featured-image {
  position: absolute;
  top: -300px;
  -ms-grid-column: 4;
      grid-column-start: 4;
  width: calc(100% - 30px);
  -webkit-box-shadow: -30px 30px #fe6f19;
          box-shadow: -30px 30px #fe6f19;
  margin-left: 30px;
}

.featured-image img {
  width: 100%;
}

.featured-post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
  margin-bottom: 60px;
}

.featured-content {
  padding: 530px 0px 60px 60px;
}

.featured-content p {
  padding: 15px 0px;
}

.featured-content h3 + p {
  padding: 0px 0px 30px 0px;
}

section.comments {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
  margin-bottom: 60px;
}

section.comments h3 {
  padding-bottom: 30px;
}

.submitted-comment {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  padding-left: 60px;
}

.submitted-comment article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submitted-comment figure {
  width: 100px;
  height: 100px;
}

.submitted-comment .comment {
  width: 90%;
  padding: 0px 0px 60px 30px;
}

.contact-page {
  padding-bottom: 100px;
  position: relative;
}

.contact-info {
  width: 30%;
}

.contact-info a.email {
  color: #4c0341;
  font-family: "Pompiere", cursive;
  font-size: 3rem;
}

.contact-info p {
  padding-left: 10px;
}

.social-media {
  margin-top: 120px;
  padding-bottom: 20px;
}

.social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-height: 910px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1355px) {
  .contact-form {
    right: -50px;
  }
}

@media (max-width: 1175px) {
  .blog-form button {
    margin: 0;
  }
}

@media (max-width: 1050px) {
  .contact-form {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    position: static;
  }
}

@media (max-width: 750px) {
  .contact-form {
    padding: 0;
    background: none;
  }
  input[name=name] {
    margin: 0;
  }
  .personal-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .personal-information input {
    width: 100%;
  }
}

@media (max-width: 1090px) {
  /* DISAPPEAR */
  .header-top nav {
    display: none;
  }
  /* APPEAR */
  ul.hamburger {
    position: absolute;
    z-index: 2;
    width: 40%;
    right: 0px;
    top: -200%;
    height: 100;
    -webkit-transition: all 1s;
    transition: all 1s;
    display: block;
  }
  ul.hamburger li {
    text-align: left;
    background: rgba(76, 3, 65, 0.99);
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  ul.hamburger li:hover {
    background: rgba(76, 3, 65, 0.8);
  }
  ul.hamburger a {
    display: inline-block;
    /* ACCEPT DIMENSIONS */
    font-size: 4rem;
    padding: 25px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: bolder;
    color: white;
    font-family: "Pompiere", cursive;
  }
  ul.hamburger a:hover {
    text-transform: capitalize;
  }
  input[type="checkbox"]:checked + ul.hamburger {
    top: 0;
  }
  label[for="hamburger"] {
    position: fixed;
    top: calc(20px - 7px);
    right: 20px;
    cursor: pointer;
    display: block;
    z-index: 3;
  }
}

@media (max-width: 490px) {
  ul.hamburger {
    width: 100%;
  }
  ul.hamburger li {
    text-align: center;
    border-left: none;
  }
}

@media (max-height: 910px) {
  header.contact {
    height: auto;
    padding-bottom: 230px;
  }
}

@media (max-width: 1050px) {
  .contact-page {
    position: static;
  }
  .contact-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 60px 0px;
    text-align: center;
  }
  .social-media {
    margin-top: 0;
  }
  .social-media ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 750px) {
  .contact-page {
    padding-bottom: 30px;
  }
}

@media (max-height: 910px) {
  header.blog {
    height: auto;
    padding-bottom: 260px;
  }
}

@media (max-width: 1730px) {
  .featured-content {
    padding: 430px 0px 60px 60px;
  }
  .aside-wrapper {
    padding: 430px 30px 30px 30px;
  }
}

@media (max-width: 1500px) {
  .featured-content {
    padding: 330px 0px 60px 60px;
  }
  .aside-wrapper {
    padding: 370px 30px 30px 30px;
  }
}

@media (max-width: 1280px) {
  .featured-content {
    padding: 250px 0px 60px 60px;
  }
  .aside-wrapper {
    padding: 320px 30px 30px 30px;
  }
}

@media (max-width: 1175px) {
  .blog-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 80%;
    margin: 0 auto;
  }
  .blog-page main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  .blog-page aside {
    position: static;
    margin-bottom: 60px;
    height: 100%;
  }
  .featured-image {
    position: static;
    margin-top: 60px;
  }
  .featured-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  section.comments {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    margin: 0;
  }
  .submitted-comment {
    padding: 0px 60px;
  }
  .aside-image {
    display: none;
  }
  .featured-content {
    padding: 30px 30px;
  }
  .aside-wrapper {
    padding: 30px 30px;
  }
}

@media (max-width: 715px) {
  .submitted-comment {
    padding: 0;
  }
  .submitted-comment article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 60px;
  }
  .submitted-comment img {
    border-radius: 100%;
  }
  .submitted-comment .comment {
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 555px) {
  .featured-image {
    display: none;
  }
}

@media (max-height: 910px) {
  header.home {
    height: auto;
    padding-bottom: 300px;
  }
  .intro-image {
    top: -60vh;
    width: 35vw;
  }
}

@media (max-width: 1730px) {
  .intro-image {
    top: -70vh;
  }
  .season-additions {
    height: 940px;
  }
  .season-additions .right-content {
    padding-bottom: 30px;
  }
  .season-additions .left-content {
    padding-top: 30px;
  }
}

@media (max-width: 1580px) {
  .monthly-shoe .content {
    width: 70%;
    padding-left: 60px;
  }
}

@media (max-width: 1490px) {
  .intro-image {
    top: -60vh;
  }
  header.home ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .season-additions {
    height: 880px;
  }
  .season-additions .right-content {
    padding-bottom: 0px;
  }
  .season-additions .left-content {
    padding-top: 0px;
  }
}

@media (max-width: 1280px) {
  .intro-image {
    top: -50vh;
  }
  .intro {
    padding: 200px 0px 100px 0px;
  }
  .season-additions {
    padding: 0;
    height: auto;
  }
  .season-additions figure:nth-of-type(1) {
    margin-right: 0;
    width: 100%;
    position: static;
  }
  .season-additions figure:nth-of-type(1) img {
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .season-additions figure:nth-of-type(2) {
    margin-left: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
    position: static;
  }
  .season-additions figure:nth-of-type(2) img {
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .season-additions .wrapper {
    display: block;
  }
  .season-additions .wrapper div {
    width: 100%;
    margin: 60px 0;
  }
  .season-additions .right-content {
    padding-left: 0px;
    text-align: center;
  }
  .season-additions .left-content {
    text-align: center;
    padding-right: 0px;
  }
  .brand-info {
    padding: 100px 0px 50px 0px;
  }
  .banner {
    display: none;
  }
  .monthly-shoe {
    padding: 100px 0px 50px 0px;
  }
  .monthly-shoe .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .monthly-shoe figure {
    width: 100%;
    position: relative;
  }
  .monthly-shoe img {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0 auto;
  }
  .monthly-shoe .content {
    width: 100%;
    padding-left: 0px;
  }
}

@media (max-width: 1090px) {
  header.home {
    height: auto;
    padding-bottom: 260px;
  }
  .intro-image {
    display: none;
  }
  .intro {
    padding: 100px 0px;
  }
  .brand-info li {
    width: 100%;
  }
  .brand-info .content {
    width: 85%;
  }
  .brand-info .content:nth-of-type(1), .brand-info .content:nth-of-type(3) {
    padding-right: 0px;
  }
}

@media (max-width: 900px) {
  .gallery li {
    width: calc(100% / 2);
  }
  .gallery li:nth-of-type(2) {
    display: none;
  }
  .gallery li:nth-of-type(3) {
    margin-left: 10px;
  }
  header.home h1, header.home p.logo {
    color: white;
    text-shadow: 2px 2px 1px #4c0341;
  }
}

@media (max-width: 600px) {
  .brand-info .icon,
  .brand-info .content {
    width: 100%;
    text-align: center;
  }
  .brand-info i {
    margin-bottom: 15px;
  }
}
